node_modules
build
raw
native-search/search-data
native-search/dist
native-search/src/ask-ai-ui.js
native-search/src/ask-ai-ui.css
native-search/src/ai-assistant.js
native-search/src/search-client.js
native-search/src/search-ui.js
.DS_Store