---
title: "System requirements"
url: https://docs.magnolia-cms.com/performance-tuning/System-requirements/
category: Modules
version: modules
breadcrumb: Performance tuning guide > System requirements
---

# System requirements

## [](#_overview)Overview

The topics covered in this section cover a wide range of system requirements. They include database sizing and setup, certified stack, operating systems, application servers, databases, repositories, and browsers.

Tuning tips - System requirements

-   **Database**

    -   Run fully redundant configurations where an independent database backs each Magnolia instance.

        > **Warning:** If running all instances against a single database instance, use different table spaces or prefixes for tables used by different workspaces. In this case, you must configure the database for high availability.

        For more, see [How many database instances or servers do I need?](Database-sizing-and-setup/#_how_many_database_instances_or_servers_do_i_need)


-   **Resources**

    -   It would be best if you didn’t try to exceed your available resources during configuration, as this may cause additional I/O operations. We encourage you to adapt your settings to the resources available in your environment.

    -   Suppose you need to check a performance issue on one of your servers. In that case, you can enable the flight recording mechanism using the flags `-XX:+FlightRecorder -XX:StartFlightRecording`.

        For more, see [Oracle Package jdk.jfr](https://docs.oracle.com/en/java/javase/17/docs/api/jdk.jfr/jdk/jfr/package-summary.html) and [Manual Java Flight Recorder recording in Kubernetes](https://www.keycloak.org/keycloak-benchmark/kubernetes-guide/latest/util/manual-jfr).

    -   Fill out the [License Estimation Questionnaire](Server-sizing/) to get more information about server sizing.


-   **Memory**

    -   The minimum memory requirement for good performance in a production environment on an author instance is 4GB to 12GB. Having between 4GB and 10GB is recommended for a public instance.

        For more, see [RAM](RAM/#_ram).


-   **Compatibility**

    -   Ensure your operating systems, Java version, application servers, databases, repositories, and browsers are supported.

        For more, see [Certified stack](Certified-stack/).



## [](#_subpages_in_this_section)Subpages in this section

-   [Certified Stack](Certified-stack/)

-   [Server sizing](Server-sizing/)

-   [Disk space](Disk-space/)

-   [Memory and CPU allocation](RAM/)

-   [Database sizing and setup](Database-sizing-and-setup/)
